div#canvas {
	width:560px;
	height: 560px;
	margin: 0 auto;
	/*background-color: #CFCFC4;*/
	/*border: 2px black solid;*/
	border-radius: 5px;
	padding:1px;
}

div#blockfield1,div#blockfield2, div#blockfield3 {
	/*background-color: red;*/

	width:260px;
	height: 260px;
	margin: 5px;
	border-radius: 5px;
	padding:1px;
	float: left;
}

div#choices {
	width: 816px;
	height: 260px;
	margin: 0 auto;
}

div.block {
	/*border: 2px black solid;*/
	border-radius: 5px;
	margin: 1px;
	width: 50px;
	height: 50px;
	float: left;
}

div.blocks1, div.blocks2, div.blocks3 {
	/*background-color: green;*/
	border-radius: 5px;
	margin: 1px;
	width: 50px;
	height: 50px;
	float: left;

.red {
	background-color: #FF6961 !important;
}

.green {
	background-color: #77DD77 !important;
}

.blue {
	background-color: blue;
}